/* ******************************************************
*** General
******************************************************* */
:root {
    --max-width: 1280px;
    --max-height: 660px;
    --unit-px: 11.33px;
}
#container {
    position: relative;
    /* width: 100vw; */
    width: var(--max-width)  ;
    height: var(--max-height);
    /* border: 1px solid red; */
    background-image: url(/img/HorseRacing2.jpg); 
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
#start-game {
    width: var(--max-width);
    height: 147px;
    /* background-color:cadetblue; */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    }
#racing-panel {
    position: absolute;    
    width: 1246px;   
    /* 50vh gedgiig 1117-iin 50%-iar solie*/ 
    height: 340px;
    top: 147px;
    left: 17px;
    background-image: url(/img/UraldahTalbai3.jpg);
    background-position: center;
    background-size: cover;
    border: 2px, solid green;
    }  
#buttom {
        position: absolute;
        width: 850px;   
        height: 172px;
        top: 487px;
        /* background-color: aqua; */
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: row;
        left: 430px;

     }
    .buttom {
        margin:auto;
    }
     #btn-start {
        margin: auto;
    } 
    .name-score-container {
        width: var(--max-width)-34px;
        /* height: 3vh; */
        height: 34px;
        background-color: rgb(193, 222, 249);
        /* opacity: 0.3; */
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        /* align-items: flex-end; */
        font-size: large;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin-bottom: 0px;
    }
    .racing-line {
        /* width: var(--max-width)-34px-160px; */
        height: 135px;
        margin-left: 40px;
        margin-right: 65px;
        /* background-color: yellowgreen; 
        opacity: 0.3; */
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        justify-content:flex-start ;
        align-items: flex-start;
    }  
    .player-name {
        width: 1076px;
        height: 34px;
        /* background-color: yellow; */
        text-align: center;
        /* "Тоглогч 1 яллаа!" гэж гаргахад padding -г багасгаж тохируулах */
        padding-left: 180px; 
        margin-top: 3px;
    }
    .score-container {
        width: 170px;
        height: 34px;
        display: flex;
        flex-direction: row;
        margin-top: 3px;
    }
    .score-value {
        margin-right: 10px;
     }  
    .horse-img-container {
        width: 113px;
        /* !!!! */
        height: 91px;
        /* background-color: yellow; */
        /* border: 1px solid red; */
        margin-left: 6px;
        margin-right: 7px;
        margin-top: 20px;
    } 
    .horse-img {
        width: 112px;
        height: auto;
    /* margin-top: 8vh; */
    }
    #shagais {
        display: flex;
        flex-direction: row;
        }
    .bone-img-container {
     width: 90px;   
     height: 70px;
     /* border: 1px solid red; */
     background-color: #fff;
     margin: 0.2px 5px 0.2px 5px ;
     
    }
    .bone {
        width: 80px;
        height: 55px;
        /* background-color: #fff; */
        /* border: 1px solid red; */
        margin-left: 5px;
        margin-top: 5px;
    }
    .active {
        font-weight: bold;
        color: red;
    }